#layout-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr 250px;
    gap: 0px 0px;
    grid-template-areas:
      "Header"
      "Body"
      "Footer";
    width: 100vw;
    height: 100vh;
}
  
#layout-header { 
    grid-area: Header; 
}

#layout-body { 
    grid-area: Body; 
}

#layout-footer { 
    grid-area: Footer; 
}