<!---- CSS ---->
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>

<!---- HTML ---->

<mat-toolbar class="d-flex justify-content-between">
  <span>Magma DAW</span>
  <mat-icon routerLink="" aria-hidden="false" aria-label="Dashboard">home</mat-icon>
</mat-toolbar>

<router-outlet></router-outlet>
