#layout-grid-container {
    display: grid;
    grid-template-rows: 40px 1fr;
    width: 100vw;
    height: 100vh;
}

#layout-flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}