<div id="layout-grid-container">
    <div id="layout-header" class="padding-x-10 padding-top-10">
        <layout-header></layout-header>
    </div>
    <div id="layout-flex-container" class="padding-x-10 padding-y-10">
        <div id="layout-body" class="full-height">
            <layout-body [sidebar_defaultWidth]="sidebar_defaultWidth" [sidebar_defaultHeight]="sidebar_defaultHeight"></layout-body>
        </div>
        <div id="layout-footer">
            <layout-footer [footer_defaultWidth]="footer_defaultWidth" [footer_defaultHeight]="footer_defaultHeight" (footerResizeEvent)="footerResizeEventHandler($event)"></layout-footer>
        </div>
    </div>
</div>